/* Other rules */
body {
    padding: 0;
    margin: 0;
    font-family: "Marvel", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: bold;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Anton", sans-serif;
}

h2 {
    position: absolute;
    top: 0;
    font-family: "Anton", sans-serif;
    font-size: 2.5em;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h3 {
    font-size: 2.5em;
    color: white;
    font-family: "Anton", sans-serif;
}

button {
    outline: none;
}

::placeholder {
    color: #bfbfbf;
}

.bg {
    background: rgb(4, 1, 64);
    background: linear-gradient(
        37deg,
        rgba(4, 1, 64, 1) 0%,
        rgba(23, 5, 50, 1) 14%,
        rgba(32, 7, 43, 1) 33%,
        rgba(78, 5, 36, 1) 49%,
        rgba(201, 1, 17, 1) 81%,
        rgba(255, 0, 0, 1) 100%
    );

    /* background: rgb(4, 1, 64);
    background: linear-gradient(
        37deg,
        rgba(4, 1, 64, 1) 0%,
        rgba(23, 5, 50, 1) 38%,
        rgba(69, 8, 96, 1) 70%,
        rgba(112, 6, 74, 1) 100%
    ); */
    height: 100vh;
}

.bg-white {
    background-color: #fff;
    height: 100%;
}

.bloc {
    display: flex;
    justify-content: center;
}

/* HOME */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    max-width: 500px;
}

.logo img:first-child {
    width: 100%;
    box-shadow: 3px 4px 52px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 3px 4px 52px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 3px 4px 52px -3px rgba(0, 0, 0, 0.58);
}

.logo img:nth-child(2) {
    opacity: 0.12;
    height: 201px;
    object-fit: cover;
    position: absolute;
    background-image: url(./assets/image.jpg);
    border: transparent 15px solid;
    width: 100vw;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    justify-content: space-between;
}

.menu a {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a img {
    max-height: 40px;
}

.comics {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* COMIC CHARACTERS */

.comics .card {
    width: calc(100% / 4 - 252px / 3);
    padding: 10px 30px;
    border: 2px solid transparent;
    transition-duration: 0.7s;
    margin-bottom: 70px;
    margin-right: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    min-width: 235px;
    position: relative;
}

.comics .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.comics .card p {
    font-size: 18px;
    line-height: 2;
    text-align: justify;
}

.comics .card:hover {
    box-shadow: 10px 10px 80px -24px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 80px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 80px -24px rgba(0, 0, 0, 0.75);
}

.comics > div:first-child {
    display: flex;
    align-items: center;
    width: 50%;
}

.comics > div input {
    width: 80%;
    padding: 20px;
    border-bottom: 2px solid #4c4c4c;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    outline: none;
    background-color: #f7f7f7;
    border-radius: none;
}

.card div div {
    padding: 10px 0;
    justify-content: center;
    width: 50%;
    margin-bottom: 30px;
    border-bottom: #000 solid 1px;
    transition-duration: 1.2s;
}

.card div div:hover {
    padding: 10px 0;
    justify-content: center;
    width: 50%;
    margin-bottom: 30px;
    color: red;
    border-bottom: red solid 1px;
}

.icon {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}
.red {
    color: red;
}

.bg-white .perso > div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.bg-white > div button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: #f7f7f7;
    color: #ac0319;
    margin-right: 20px;
    cursor: pointer;
    font-family: "Marvel";
}

.bg-white > div button:hover {
    background-color: #ac0319;
    color: #f7f7f7;
}

.bg-white > div button div {
    display: flex;
    align-items: center;
}

.bg-white > div button div svg {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.next-previous {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* CHARACTERS ID */

.perso > div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.perso > div:first-child {
    background-color: black;
    height: 40vh;
    position: relative;
    min-height: 300px;
}

.perso > div:first-child img {
    width: 100vw;
    min-height: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    background-color: black;
}
.perso > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 60px;
    font-size: 18px;
}

.perso > div:nth-child(2) div img {
    width: 100%;
}

/* FAVORIS */

.no-charac {
    text-align: center;
    font-size: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-login {
    text-align: center;
    font-size: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-login div:nth-child(2) {
    margin-top: 40px;
}

.no-login div:nth-child(2) a {
    padding: 20px;
    background-color: #f7f7f7;
    color: #ac0319;
    font-size: 24px;
    margin: 24px;
    font-weight: bold;
}

.no-login div:nth-child(2) a:hover {
    background-color: #ac0319;
    color: #f7f7f7;
}

.fav {
    font-size: 30px;
}

/* LOADING */

.loading {
    height: 80%;
    background-repeat: no-repeat;
    margin: auto;
    max-width: 300px;
    color: white;
    font-size: 25px;
    padding: 20px;
}

.loading div {
    background: url(./assets/thor.gif);
    border: white 10px solid;
    height: calc(100vh - 30px);
    display: flex;
    justify-content: center;
    opacity: 0.6;
    margin-top: 30px;
    -webkit-box-shadow: 6px 2px 18px 0px rgba(0, 0, 0, 0.62);
    box-shadow: 6px 2px 18px 0px rgba(0, 0, 0, 0.62);
    transform: rotate(-20deg);
    padding: 20px;
    text-align: center;
}

/* HEADER */

.menu div {
    display: flex;
}

.menu div a {
    padding: 20px;
    border: 1px solid white;
    margin: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.menu div a:first-child {
    background-color: #85071e;
}

.menu div a:hover {
    background-color: #85071e;
}

.signout {
    background-color: #85071e;
    border: solid 1px white;
    color: white;
    font-family: "Marvel", sans-serif;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
}

.signout:hover {
    background-color: transparent;
}

/* LOGIN */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.signup-container form {
    width: 275px;
    margin: auto;
    margin-bottom: 20px;
}

.signup-container form div {
    margin-top: 20px;
    font-size: 16px;
    background-color: #ac0319;
    color: #f7f7f7;
    line-height: 1.5;
}

.signup-container form > input {
    border: none;
    height: 35px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    padding: 10px;
}

.signup-container form > input::placeholder {
    color: #bebebe;
    font-size: 16px;
    font-weight: 100;
}

.signup-container form button {
    height: 45px;
    width: 107%;
    border: solid 1px white;
    outline: none;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}

.signup-container form button:hover {
    background-color: #85071e;
}

.signup-container a {
    color: white;
    font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 1280px) {
    .comics {
        justify-content: center;
    }
}

@media (max-width: 720px) {
    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    .comics {
        justify-content: center;
    }

    .comics > div input {
        margin-top: 30px;
    }
    .comics > div:first-child {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .comics .card {
        width: 70%;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
}
